:root {
  --link-color: #fff;
  --link-weight: bolder;
  --bkg-dark: #a90076;
  --hover-color: #f652a0;
}

body {
  background-color: #a90076;
  color: #fff;
  background-image: linear-gradient(to bottom right, #a90076, #daa520);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

img {
  border-radius: 10px;
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
  text-decoration: underline overline;
}
a:visited {
  color: var(--link-color);
}
a:active {
  color: var(--hover-color);
}

.card-title,
.card-text {
  color: #000;
}

.navbar {
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.25);
}

.welcome {
  margin: 25em;
}

.container {
  padding: 10em;
  margin: 7em 0 0;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  background-color: var(--bkg-dark);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--hover-color);
}
footer {
  text-align: center;
  color: var(--link-color);
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container1,
  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .container1,
  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-7 {
    flex-direction: column;
    width: 90%;
  }
}
