:root {
  --link-color: #fff;
  --link-weight: bolder;
}

body {
  background-color: #d7d9ce;
  color: #040404;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
}
header {
  background-color: #13505b;
}
.nav {
  display: flex;
  justify-content: end;
  list-style-type: none;
}
.nav-items {
  padding: 1em;
}
a:link {
  color: var(--link-color);
  font-weight: var(--link-weight);
  text-decoration: none;
}
a:hover {
  color: #f652a0;
  font-weight: var(--link-weight);
  text-decoration: underline overline;
}
a:visited {
  color: var(--link-color);
  font-weight: var(--link-weight);
}
a:active {
  color: #0c7489;
  font-weight: var(--link-weight);
}
main {
  margin: 10%;
}

.logo-headshot,
.projects-row1,
.projects-row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.headshot {
  width: 250px;
  height: 300px;
  border-radius: 4em;
  margin-bottom: 7em;
}

.project {
  width: 600px;
  height: 300px;
  margin: 1em;
}
@media screen and (max-width: 768px) {
  main {
  }
  .project {
    width: 400px;
    height: 200px;
  }
}
