:root {
  --link-color: #fff;
  --link-weight: bolder;
}

body {
  background-color: #d7d9ce;
  color: #040404;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
}
header {
  background-color: #13505b;
}
.nav {
  display: flex;
  justify-content: end;
  list-style-type: none;
}
.nav-items {
  padding: 1em;
}
a:link {
  color: var(--link-color);
  font-weight: var(--link-weight);
  text-decoration: none;
}
a:hover {
  color: #f652a0;
  font-weight: var(--link-weight);
  text-decoration: underline overline;
}
a:visited {
  color: var(--link-color);
  font-weight: var(--link-weight);
}
a:active {
  color: #0c7489;
  font-weight: var(--link-weight);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 10%;
  justify-content: center;
  align-content: center;
}
.headshot {
  width: 250px;
  height: 300px;
  border-radius: 4em;
}

.project-1,
.project-2,
.project-3,
.project-4 {
  width: 600px;
  height: 300px;
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    width: 400px;
    height: 200px;
  }
  .logo {
    width: 400px;
    height: 400px;
  }
}
