:root {
  --link-color: #fff;
  --link-weight: bolder;
  --bkg-dark: #13505b;
  --hover-color: #f652a0;
}

body {
  background-color: #d7d9ce;
  color: #040404;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  line-height: 1.5;
}
header {
  background-color: var(--bkg-dark);
}
.nav {
  display: flex;
  justify-content: end;
  list-style-type: none;
}
.nav-items {
  padding: 1em;
}
a:link {
  color: var(--link-color);
  font-weight: var(--link-weight);
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
  font-weight: var(--link-weight);
  text-decoration: underline overline;
}
a:visited {
  color: var(--link-color);
  font-weight: var(--link-weight);
}
a:active {
  color: #0c7489;
  font-weight: var(--link-weight);
}
.container1 {
  margin-top: 5em;
}
.container1,
.container2,
.container3,
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container4 {
  flex-direction: column;
  margin-top: 5em;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1,
.box-2 {
  width: 500px;
  height: 500px;
}
.headshot {
  border-radius: 10px;
}
.box-3,
.box-4,
.box-5,
.box-6 {
  width: 500px;
  height: 250px;
}

.box-7 {
  flex-direction: column;
  width: 700px;
  height: 500px;
}
.box-8 {
  flex-direction: column;
  width: 700px;
  height: 700px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  background-color: var(--bkg-dark);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--hover-color);
}
footer {
  text-align: center;
  background-color: var(--bkg-dark);
  color: var(--link-color);
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container1,
  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .container1,
  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-7 {
    flex-direction: column;
    width: 500px;
    height: 500px;
  }
}
